@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

:root{
    --backgroundColor: #d3d3d3;
    --secondaryColor: #000000;
    --fontColor: #ffffff;
}

.body{

    width: 100vw;
    height: 100vh;

    background-color: var(--backgroundColor);
    color: var(--fontColor);
}


/* REGISTER */

#SG{
    display: flex;
    justify-content: center;
    align-items: center;
}


.textArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}

textarea{
    background-color: azure;
    font-size: large;
    width: 50vw;
    height: 25vh;
    border-radius: 10px;
    resize: none;
    padding: 3vh;
}

.btnDiv{
    display: flex;
    gap: 10px;
    padding: 1vh;
}

button{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #000000;
    font-size: large;
    padding: 10px;
    width: 150px;
}

.listAllDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

